.country {
  fill: None;
  stroke: White;
}

text {
  font-size: 14px;
  fill: Black;
}

.info-box {
  fill: None;
  stroke: None;
  text-align: center;
}

.info-text {
  font-size: 16px;
  fill: Black;
}

.initial {
  font-size: 18px;
  font-weight: bold;
}

.bar {
  fill: #08519c;
  stroke: White;
}

.bar:hover {
  fill: #08306b;
}

.x-axis path,
.y-axis path {
  display: none;
}

.x-label {
  fill: Black;
  font-size: 12px;
}

.grid line {
  stroke: LightGrey;
}

.legend path {
  display: none;
}
