.country {
  fill: None;
  stroke: Black;
}

.bar {
  fill: SteelBlue;
  stroke: Black;
}

.bar:hover {
  fill: Salmon;
}

.axis--x path,
.axis--y path {
  display: none;
}

.label {
  fill: Black;
  font-size: 18px;
}

.grid line {
  stroke: LightGrey;
}

.tooltip {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  background: Beige;
  padding: 5px;
  border: 1px solid Black;
}

text {
  font-size: 14px;
  fill: Black;
}

.legend path {
  display: none;
}

.tooltip {
  font-family: Helvetica;
  font-size: 13px;
  text-align: center;
  position: absolute;
  z-index: 10;
  background: lightsteelblue;
  padding: 3px;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}