.country {
  fill: None;
  stroke: White;
}

text {
  font-size: 14px;
  fill: Black;
}

.info-box {
  fill: None;
  stroke: Black;
}

.info-text {
  fill: Black;
}

.bar {
  fill: SteelBlue;
  stroke: Black;
}

.bar:hover {
  fill: Salmon;
}

.x-axis path,
.y-axis path {
  display: none;
}

.label {
  fill: Black;
  font-size: 18px;
}

.grid line {
  stroke: LightGrey;
}

.legend path {
  display: none;
}
